body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(https://res.cloudinary.com/dsdurzeu2/image/upload/v1678229012/pexels-photo-5670148_pguwbv.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Home Page */
.hero-text {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 1rem;
    background-color: darkgray;
    opacity: 0.8;

}

/* Blog detail page */
#blog-form {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    width: 60%;
}

#upload-img {
    width: 100%;
    height: auto;
    border: 1px solid grey;
}

#author-row {
    border: 1px solid grey;
    margin: auto;
}

#title-row {
    border: 1px solid grey;
    margin: auto;
}

#body-row {
    border: 1px solid grey;
    margin: auto;
}

#blog-btn {
    margin: 1rem;
}

/* Blog Home Page */