@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Tilt+Warp&display=swap');

body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-image: linear-gradient(grey, black);
}

/* Navbar */

#logged-text {
    color: lightblue;
    border-top: 2px solid #fff;
}

.navbar-brand {
    font-size: 2rem;
}

strong {
    font-size: 3rem;
}

.active {
    text-decoration: underline lightblue 4px;
}

.messages {
    position: absolute;
    color: black;
}


/* Navbar media query */
@media screen and (min-width: 768px) {

    .navbar .container-fluid {
        flex-direction: column;
    }

    .navbar .navbar-nav .nav-item {
        padding: 0.5em 1em;
    }

    .navbar-nav {
        border-bottom: 2px solid #fff;
    }

    .navbar-brand {
        font-size: 2.8rem;
    }

    #logged-text {
        border: none
    }

    .active {
        border-bottom: 4px solid lightblue;
        text-decoration: none;
    }

}

@media screen and (min-width: 768px) and (max-width: 840px) {
    #logged-text {
        display: none;
    }
}



.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
}

.navbar .navbar-nav {
    border-top: 2px solid #fff;
    margin-top: 0.5em;
}

/* Footer */

.footer {
    border-top: 3px solid #fff;
    margin-top: 5rem;
}

.footer-text {
    color: white;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: 'Golos Text', sans-serif;
}

.footer-hero {
    color: white;
    margin: 1rem;
    font-size: 1.4rem;
    padding-top: 2rem;
    font-family: 'Golos Text', sans-serif;
}

.icon-item {
    color: white;
    font-size: 2rem;
    margin: 1rem;
}



/* Home Page */


.container-fluid>a {
    font-family: 'Tilt Warp', cursive;
}

.nav-item>a {
    font-family: 'Tilt Warp', cursive;
    font-weight: bolder;
}

.hero-text>h1 {
    font-family: 'Tilt Warp', cursive;
    font-size: 3rem;
    margin-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bolder;
}

.hero-text>p {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.6rem;
    margin: 0 1rem;
}


/* Carousel */



.c-item {
    height: 480px;
}

.c-image {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.carousel-caption>p {
    font-family: 'Golos Text', sans-serif;
}

.carousel-caption>h1 {
    font-family: 'Tilt Warp', cursive;
}

/* Blog detail page */


#upload-img {
    width: 100%;
    height: auto;
    border: 1px solid grey;
}

#author-row {
    border: 1px solid grey;
    margin: auto;
}

#title-row {
    border: 1px solid grey;
    margin: auto;
}

#body-row {
    border: 1px solid grey;
    margin: auto;
}

#blog-btn {
    margin: 1rem;
}

/* Blog Home Page */
.card {
    margin: 2rem;
}

#page-btns {
    justify-content: center;
    font-size: 2rem;
    color: #fff;
}

#page-btns a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
}

.current > h3 {
    font-size: 2rem;
    font-family: 'Golos Text', sans-serif;
    color: #fff;
}

.card-title {
    font-family: 'Tilt Warp', cursive;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.card-text {
    font-family: 'Golos Text', sans-serif; 
    font-weight: bolder;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}


/* Profile page */

.user-image {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}

#profile-cont {
    border-radius: 5px;
    color: #696969;
    font-family: 'Golos Text', sans-serif;
    margin-top: 2rem;
    background-color: #D3D3D3;
    border: 4px solid gray;
}

#profile-image {
    padding-bottom: 2rem;
}

#profile-image>img {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    border: 4px solid gray;
    max-width: 80%;
    max-height: 45vh;
    margin-top: 2rem;
}

#profile-hero-text {
    margin: auto;
    border-bottom: 3px solid gray;
    font-family: 'Tilt Warp', cursive;
    color: black;
}

.profile-item {
    border-top: 3px solid gray;
    margin: auto;
    font-family: 'Tilt Warp', cursive;
    justify-content: center;
    background-color: #fff;
    max-width: 100%;
    color: black;
}

.profile-item > span {
    font-family: 'Golos Text', sans-serif;
    margin-bottom: 1rem; 
    font-size: 1.4rem;
}



/* Forms */

.forms {
    border-radius: 10px;
    color: black;
    font-family: 'Golos Text', sans-serif;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #D3D3D3;
    border: 4px solid gray;
    width: 100%;
}



/* General message containers */

#text-containers {
    border: 3px solid gray;
    border-radius: 10px;
    margin: 5rem;
    background-color: #D3D3D3;
    font-family: 'Tilt Warp', cursive;
    color: black;
    width: 60vw;
    display: flex;
    justify-content: center;
}

#text-containers > h1 {
    color: black;
}

.confirmation {
    border-radius: 5px;
    color: black;
    font-family: 'Golos Text', sans-serif;
    margin: 3rem auto;
    padding: 2em;
    background-color: #D3D3D3;
    border: 4px solid gray;
}

/* Blog Detail */

#blog-form {
    background-color: #D3D3D3;
}

/* Comments */

.comment-cont {
    border: 1px solid gray;
    background-color: #fff;
    margin: auto;
    width: 100%;
    height: auto;
}

.comment-row {
    margin: auto;
}

.comment-content {
    max-width: 100%;
}

.comment-content > b {
    margin: 1rem;
}

.comment-content > p {
    
}

