body {
    margin: 0;
    max-width: 100%;
    overflow-x:hidden;
}

/* Blog detail page */
#blog-form {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 1rem;
    width: 60%;
}

#upload-img {
    width: 100%;
    height: auto;
    border: 1px solid grey;
}

#author-row {
    border: 1px solid grey;
    margin: auto;
}

#title-row {
    border: 1px solid grey;
    margin: auto;
}

#body-row {
    border: 1px solid grey;
    margin: auto;
}

#blog-btn {
    margin: 1rem;
}

/* Blog Home Page */



