{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-12 mt-3">
            <h1 class="error-hero-text">404 Page not found</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 mt-3">
            <h2 class="error-text">This page does not exist. Press the home button to return to the homepage</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12 text-center mt-3">
            <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
        </div>
    </div>
</div>

{% endblock %}


