{% extends "base.html" %}
{% block title %} Add Blog {% endblock %}
{% load crispy_forms_tags %}
{% load cloudinary %}


{% block content %}
<div class="mx-auto col-12 col-md-8 col-lg-6" id="blog-container">
    <form class="form-control forms"  method="post" enctype="multipart/form-data">
        {% csrf_token%}
        {{ form|crispy }}
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


{% endblock %}