{% extends "base.html" %}
{% block title %} Blog Detail {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<main class="container-fluid">
    <!--Blog post container-->
    <div class="mx-auto col-12 col-md-10 col-lg-8" id="blog-form">
        <div class="row text-center hero-row">
            <div class="col-10 justify-content-center blog-text">
                <h1>Blog By: {{ object.created_by }}</h1>
            </div>
            <div class="col-10 justify-content-center blog-text">
                <h2> Posted On: {{ object.date_created}}</h3>
            </div>
        </div>
        <div class="row text-center hero-row">
            <div class="col-10 blog-text justify-content-center">
                <h3>{{ object.title}}</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 justify-content-center">
                <!--If user has not uploaded an image to the blog and the category is Football-->
                {% if "placeholder" in object.blog_image.url and object.category == "Football" %}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678132670/the-ball-stadion-football-the-pitch-46798_nimtac.jpg"
                    alt="placeholder-image" class="blog-image">
                <!--If user has not uploaded an image to the blog and the category is GAA-->
                {% elif "placeholder" in object.blog_image.url and object.category == "GAA"%}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678833173/static/css/the-gaa-a-community-more-than-a-sporting-organisation_mkrkfd.webp"
                    alt="placeholder-image" class="blog-image">
                <!--If user has not uploaded an image to the blog and the category is Rugby-->
                {% elif "placeholder" in object.blog_image.url and object.category == "Rugby"%}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678833501/pexels-photo-6373836_tqigji.jpg"
                    alt="placeholder-image" class="blog-image">
                <!--If user has not uploaded an image to the blog and the category is Other-->
                {% elif "placeholder" in object.blog_image.url and object.category == "Other"%}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1680523827/static/css/other-balls_gy47nz.jpg"
                    alt="placeholder-image" class="blog-image">
                <!--If user has uploaded their own image-->
                {% else %}
                <img src="{{ object.blog_image.url }}" alt="user-upload-image" class="blog-image">
                {% endif %}
            </div>
        </div>
        <div class="row" id="body-row">
            <p>{{ object.body|linebreaks }}</p>
        </div>

        <!--Comments section-->
        <!--Loops through comments-->
        <div class="row text-center">
            <h2 class="hero-text-comm">Comments:</h2>
        </div>
        <!--Comments section-->
        {% for comment in comments%}
        <div class="row comment-row text-center">
            <!--Loops through comments-->
            <div class="col-12 mx-auto comment-cont">
                <b class="comment-text mx-2">{{ comment.user}}</b>
                <b class="comment-text mx-2">{{ comment.time }}</b>
            </div>
        </div>
        <div class="row comment-row">
            <div class="col-12 mx-auto comment-cont py-2">
                <p>{{ comment.comment }}</p>
            </div>
        </div>
        <!--Checks if logged in user is the author of the comment-->
        {% if request.user == comment.user %}
        <div class="row comment-row text-center">
            <div class="col-6 mx-auto comment-cont py-2">
                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'edit_comment' comment.pk%}" class="btn btn-warning">Edit</a>
            </div>
        </div>
        {% endif %}
        <hr>
        <!--If there are no comments-->
        {% empty %}
        <div class="row text-center">
            <h3 class="hero-text-comm">No Comments yet</h3>
        </div>
        {% if user.is_authenticated %}
        <div class="row text-center">
            <h5>Add your comment below</h4>
        </div>
        {% endif %}
        {% endfor %}
        <!--Comment form if user is logged in-->
        {% if user.is_authenticated%}
        <div class="row comment-row">
            <form class="form-control" method="post" enctype="multipart/form-data">
                {% csrf_token%}
                {{ form|crispy }}
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
        <!--User message if user is not logged in-->
        {% else %}
        <div class="row text-center">
            <b class="mb-3">You must be logged in to comment on a post</b>
            <b>Please <a href="{%url 'account_login' %}" class="login-text">Login</a> or
                <a href="{% url 'account_signup' %}" class="login-text">Signup</a>
                if you havent already</b>
        </div>
        {% endif %}
        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'home'%}" class="btn btn-primary" id="blog-btn">Home</a>
            </div>
        </div>
    </div>
</main>




{% endblock %}