{% extends "base.html" %}

{% block content %}

<main class="container-fluid" id="blog">
    <div class="mx-auto col-10 col-md-8 col-lg-6" id="blog-form">
        <div class="row text-center" id="author-row">
            <div class="col-6 justify-content-center">
                <h1>Blog By: {{ object.created_by }}</h1>
            </div>
            <div class="col-6 justify-content-center">
                <h3> Posted On: {{ object.date_created}}</h3>
            </div>
        </div>
        <div class="row text-center" id="title-row">
            <h2>{{ object.title}}</h2>
        </div>
        <div class="row text-center" id="blog-image">
            <div class="col justify-content-center">
                {% if "placeholder" in object.blog_image.url %}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678132670/the-ball-stadion-football-the-pitch-46798_nimtac.jpg"
                    alt="placeholder-image" class="card-img-top">
                {% else %}
                <img src="{{ object.blog_image.url }}" alt="user-upload-image" id="upload-img">
                {% endif %}
            </div>
        </div>
        <div class="row text-center" id="body-row">
            <p>{{ object.body }}</p>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'home'%}" class="btn btn-primary" id="blog-btn">Home</a>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <h1>Comments</h1>
            </div>
            <div class="row text-center">
                <a href="#">Add a comment</h2>
            </div>
        </div>
    </div>
</main>




<a href="{% url 'home'%}"></a>

{% endblock %}