{% extends "base.html" %}
{% block title %} Delete Comment {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="mx-auto col-10 col-md-8 col-lg-6">
    <form class="form-control confirmation" action="{% url 'delete_profile' profile.pk %}"method="post">
        {% csrf_token%}
        <div class="col-12 text-center">
            <h1>Are you sure you want to delete your profile  {{ user.username }}?</h1>
            <hr>
            <h2>Your user account will also be deleted aswell as all of your blog posts!</h2>
            <button type="submit" class="btn btn-primary mt-3">Delete</button>
            <a href="{% url 'profile' user.username %}" class="btn btn-warning mt-3">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}