{% extends "base.html" %}
{% block title %} Edit Profile {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="mx-auto col-12 col-md-8 col-lg-6">
    <form class="form-control forms" method="post" enctype="multipart/form-data">
        {% csrf_token%}
        {{ form|crispy }}
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Confirm Edit</button>
            <a href="{% url 'delete_profile' profile.pk %}" class="btn btn-danger">Delete Profile</a>
        </div>
    </form>
</div>

{% endblock %}