{% extends "base.html" %}
{% block title %} MyBlogs {% endblock %}
{% block content %}

<div class="row justify-content-center">
    {% for blog in object_list %}
    <div class="col-md-6 col-lg-4" id="blog-card">
        <div class="card mt-4">
            {% if "placeholder" in blog.blog_image.url %}
            <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678132670/the-ball-stadion-football-the-pitch-46798_nimtac.jpg"
                alt="placeholder-image" class="card-img-top">
            {% else %}
            <img src="{{ blog.blog_image.url }}" alt="user-upload-image" class="card-img-top">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.description }}</p>
            </div>
            <div class="btn-group" role="group" aria-label="Control Buttons">
                <a href="{% url 'delete_blog' blog.pk %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'edit_blog' blog.pk %}" class="btn btn-warning">Edit</a>
                <a href=" {% url 'blog_detail' blog.pk %}" class="btn btn-success">Blog</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="mx-auto col-10 col-md-8 col-lg-6 text-center" id="text-containers">
        <div class="row text-center m-4">
            <h1>You Dont have any blog posts yet<br> Click below to add one</h1>
            <div class="col-12 text-center">
                <a href="{% url 'add_blog' %}" class="btn btn-primary m-4">Add A blog</a>
            </div>
        </div>
    </div>

    {% endfor %}

    <div class="pagination" id="page-btns">
        <div class=" container step-links">
            <div class="row text-center">
                <div class="col-12">
                    {% if page_obj.has_previous %}
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="?page=1" class="btn btn-primary m-1">First Page</a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary m-1">Previous Page</a>
                    </div>
                    {% endif %}

                    {% if page_obj.has_next %}
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary m-1">Next Page</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary m-1">Last Page</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="current text-center mt-4">
        <h3>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</h3>
    </div>
</div>
</div>
    {% endblock %}