{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}
{% if profile %}

<div class="container-fluid">
    <!--User profile container-->
    <div class="mx-auto col-12 col-md-8 col-lg-6" id="profile-cont">
        <div class="row text-center" id="profile-hero-text">
            <h1>My Profile</h1>
        </div>
        <div class="row text-center">
            <div class="col-12 justify-content-center mb-2" id="profile-image">
                <!--If user has no uploaded their own profile image-->
                {% if "placeholder" in profile.image.url %}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678279560/profile-placeholder_bkm8nk.webp"
                    alt="placeholder-image">
                <!--If user has uploaded their own profile image-->
                {% else %}
                <img src="{{ profile.image.url }}" alt="user-upload-image">
                {% endif %}
            </div>
        </div>
        <div class="row text-center profile-item text-capitalize">
            <h2>Username:</h2><span>{{ profile.user.username }}<span>
        </div>
        <div class="row text-center profile-item text-capitalize">
            <h2>Name:</h2><span>{{ profile.name }}</span>
        </div>
        <div class="row text-center profile-item text-capitalize">
            <h2>About:</h2><span>{{ profile.about }}</span>
        </div>
        <div class="row text-center profile-item text-capitalize">
            <h2>Profile Created:</h2><span>{{ profile.date_joined }}</span>
        </div>
        <div class="row text-center profile-item text-capitalize">
            <h2>Last Updated:</h2><span>{{ profile.last_updated }}</span>
        </div>
        <div class="row">
            <div class="btn-group col-12" role="group" aria-label="Profile buttons">
                <a href=" {% url 'myblogs' %}" class="btn btn-warning">My Blogs</a>
                <a href=" {% url 'home' %}" class="btn btn-success">Home</a>
                <a href=" {% url 'edit_profile' profile.pk %}" class="btn btn-danger">Edit Profile</a>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}