{% extends "base.html" %}

{% block content %}
{% if profile %}

<div class="container-fluid">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="row text-center" id="blog-image">
            <div class="col justify-content-center">
                {% if "placeholder" in profile.image.url %}
                <img src="https://res.cloudinary.com/dsdurzeu2/image/upload/v1678279560/profile-placeholder_bkm8nk.webp"
                    alt="placeholder-image">
                {% else %}
                <img src="{{ profile.image.url }}" class="rounded-circle prof-img" alt="user-upload-image">
                {% endif %}
            </div>
        </div>
        <div class="row text-center">
            <h1>Username: {{ profile.user.username }}</h1>
        </div>
        <div class="row text-center">
            <h2>Name: {{ profile.name }}</h2>
            <h3>About: {{ profile.about }}</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <a href=" {% url 'myblogs' %}" class="btn btn-success">My Blogs</a>
        </div>
        <div class="col-12">
            <a href=" {% url 'home' %}" class="btn btn-danger">Home</a>
        </div>
        <div class="col-12">
            <a href=" {% url 'edit_profile' profile.pk %}" class="btn btn-danger">Edit Profile</a>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}